---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import { BaseHead, FormattedDate, PostTags } from '~/components';
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';
import { AsideLayout } from '~/layouts';

const posts = (await getCollection('blog'))
  .filter((post) => post.data.published)
  .sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
  );
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <AsideLayout>
      <main>
        <section>
          <ul>
            {
              posts.map((post) => (
                <li class="mb-8 rounded-2xl overflow-hidden bg-white dark:bg-jade-950 transition-colors duration-normal shadow-2xl">
                  <a href={`/blog/${post.slug}/`}>
                    {post.data.cover_image && (
                      <Image
                        class="w-[900px] h-[400px] object-cover"
                        src={post.data.cover_image}
                        alt=""
                      />
                    )}
                    <div class="p-8">
                      <h4 class="mt-0 mb-4">{post.data.title}</h4>
                      {post.data.description && <p class="mb-4">{post.data.description}</p>}
                      <p class="text-sm">
                        <FormattedDate date={post.data.date} />
                      </p>
                      <div>
                        <PostTags tags={post.data.tags} />
                      </div>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </main>
    </AsideLayout>
  </body>
</html>
